$main-color: #e3b342;
$white-color: #fff;
$yellow-color: #d2a02b;
$yellow-color-2: #cab88f;
$yellow-color-3: #ffd166;
$gray-color: #777e90;
$gray-color-2: #b1b5c3;
$gray-color-2-o30: rgba(177, 181, 195, 0.3);
$gray-color-3-o80: rgba(105, 105, 105, 0.8);
$secondary-color: #cab88f;
$gradient-style-color-1: radial-gradient(
  72.29% 96.43% at 50.5% 3.57%,
  #ffd166 0%,
  #d2a02b 100%
);
$box-shadow-type: 0 0 8px rgb(255 204 0 / 60%);
$background-color: rgba(31, 31, 33, 0.7);
